<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<!-- 控制台输出日志 -->
	<appender name="info" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[xyz-frame] %d{yyyy-MM-dd HH:mm:ss} %-5level  %logger{36} [%thread]>>> %msg%n</pattern>
		</encoder>
	</appender>
	<!-- 按照固定窗口模式生成日志文件，当文件大于20MB时，生成新的日志文件。窗口大小是1到3，当保存了3个归档文件后，将覆盖最早的日志 -->
	<appender name="SizeFILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.home:-.}/logs/xyz-frame.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${catalina.home:-.}/logs/xyz-frame.%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>20</maxIndex>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>20MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>[xyz-frame] %d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} [%thread]>>> %msg%n
			</pattern>
		</encoder>
	</appender>	
	<!--每天生成一个日志文件，保存30天的日志文件。 -->
	<!-- <appender name="DayFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>[standard-A] %d{yyyy-MM-dd hh:mm:ss} %-5level %logger{36} [%thread]>>> %msg%n</pattern>
		</encoder>
	</appender> -->	
	<!--指定logger name为包名或类全名 指定级别 additivity设置是否传递到root logger -->
	<logger name="slf4j" level="INFO" />
	<!--slf4j2包下的类在ERROR级别时候传递到root logger中 -->
	<logger name="slf4j2" level="ERROR" />
<!-- 	<logger name="org.springframework" level="ERROR" /> -->
	<logger name="org.hibernate" level="ERROR" />
	<logger name="org.jboss.logging" level="ERROR" />
	<logger name="com.mchange.v2" level="ERROR" />
	<logger name="org.apache.http" level="ERROR" />
	<logger name="com.alibaba.dubbo" level="ERROR" />
	<logger name="org.eclipse.jetty" level="ERROR" />
	<logger name="org.apache.zookeeper" level="ERROR" />
	<logger name="me.chyxion" level="ERROR" />
	<logger name="org.apache.kafka" level="ERROR" />	
	<logger name="kafka" level="ERROR" />
	<logger name="xyz.frame" level="info" />
	<logger name="mybatis_com.daikuan.xyz.frame" level="ERROR" />	
	<!--根logger控制 -->
	<root level="INFO">
		@log.console@
		<appender-ref ref="SizeFILE" />
	</root>
</configuration>