*.class
*.orig
*.bak
*.prefs
*.log
*.log*
*.err
*.scssc
*.pyc
.classpath
.springBeans
*.iml
target/
*.log
hs_err_pid*
*.pyc
*.map
.idea/
test.py
download/
tempsql/
.pydevproject
.settings/
/.metadata/
