#loader-modal {
    /* bootstrap modal z-index:1050 */
    z-index: 1100;
}

#loader-modal.backdrop,
#loader-modal.fixed {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#loader-modal.backdrop {
    position: absolute;
}

#loader-modal.fixed {
    position: fixed;
}

#img_loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 32px;
    width: 32px;
    display: block;
    z-index: 1100;
}