#content {
    padding-left: 0px;
    padding-right: 0px;
}

#content .box {
    margin-top: 0px;
}

#content_header_div {
    padding-top: 5px;
    margin-left: -18px;
    height:38px;
}

#content_title_span {
    float: left;
}

.well {
    border: transparent;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .05);
    padding-top: 0px;
    margin-bottom: 0px;
    background-color: transparent;
}

#addNew,#addNew2 {
    margin: 10px 0px;
/*     display: none; */
}

#addButton,#addButton2 {
    padding: 10px;
    font-size: 13px;
}

.inputDiv {
    margin-left: 10px;
    margin-bottom: 10px;
}

.inputLabel {
    display: inline-block;
    width: 23%;
    position: absolute;
    margin-top: 10px;
}

.inputInput {
    display: inline-block;
    margin-left: 25%;
    width: 70%;
}

.inputShowDiv {
    display: inline-block;
    width: 70%;
    margin-left: 25%;
}

.has-error, .has-success {
    display: none;
    margin-left: 26%;
}

.showTreeBox {
    height: 200px;
    overflow-y: auto;
}

.showTreeDiv {
    display: inline-block;
    width: 100%;
}

.ztree {
    margin-top: 0;
    /*width: 100%;*/
}

/*TODO 废弃*/
.showZTree {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

#customDataTable td,#customDataTable2 td {
    vertical-align: middle;
}

#showTable .row,#showTable2 .row {
    margin-right: 0 !important;
}

#customDataTable #table_header_tr,#customDataTable2 #table_header_tr2 {
    height: 40px;
}

body {
    overflow: auto !important;
    font-family: "Brandon Text Light","Microsoft Yahei", Verdana, Simsun, "Segoe UI Web Light", "Segoe UI Light", "Segoe UI Web Regular", "Segoe UI", "Segoe UI Symbol", "Helvetica Neue", Arial;
    font-size: 12px !important;
}

.table {
    font-size: 12px !important;
}
.table>thead>tr>th, .table-condensed > tbody > tr > td{
    padding: 2px !important;
}
.table > thead > tr > th{
    vertical-align: middle;
}
.box-inner{
    border: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.dropdown-menu {
    min-width: 100px;
}