#loading, #loading2 {
    display: none;
    z-index: 9999;
}
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
    .masked{
        background-image: -webkit-linear-gradient(left, #000000, #FF0000 25%, #000000 50%, #FF0000 75%, #000000);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-background-size: 200% 100%;
        -webkit-animation: masked-animation 4s infinite linear;
    }
}
@-webkit-keyframes masked-animation {
    0%  { background-position: 0 0;}
    100% { background-position: -100% 0;}
}